.divheadertoda {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.imagemlogodigital {
    margin-left: 50px;


}

.divpesquisar {
    display: flex;
}

.campopesquisar {
    width: 530px;
    height: 64px;
    border-radius: 8px 0 0 8px;
    background-color: rgb(244, 244, 244);
    padding-left: 33px;
    margin-left: 10px;
    border: none;
}

.divpesquisar {
    opacity: 60%;
    align-items: center;
    border: none;
}

.lupa {
    padding: 0 10px 0 0;
    justify-content: center;
    background-color: rgb(244, 244, 244);
    height: 64px;
    align-content: center;
    border-radius: 0 8px 8px 0;   
}
.linkcadastro {
    display: flex;
    gap: 40px;
    margin-left: 30px;
}

.btn-cadastro {
    padding: 10px;
    color: #000000;
    opacity: 70%;
}

.btn-cadastro:hover {
    color: #000000;
}
.imagemcarrinho {
    width: 30px;
    height: 30px;
}
.entrar {
    background-color: #C92071;
    width: 124px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    font-family: "Inter" sans-serif;   
}
.links {
    display: flex;
    margin-top: 60px;
    margin-bottom: 18px;
}
.links a {
    color: rgb(0, 0, 0);
    list-style: none;
    font-weight: 600;
    font-size: 110%;
    text-decoration: none;
}

.lista {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-left: 36px;
}

.lista a:hover {
    text-decoration: underline;
    color: rgb(201 32 113);
}

/*===================== TUDO ACIMA FAZ PARTE DA HEADER=========================*/


.sectionqueimaestoque {
    display: flex;
    width: 100%;
    height: 700px;
    font-family: "inter" sans-serif;
}

.divqueima {
    background-color: rgb(245 245 245);
    display: flex;
    padding: 100px;
}

.melhores {
    font-size: 120%;
    color: rgb(246 170 28);
    margin-top: 20px;
    font: 16px;
}

.queimadeestoque {
    font-size: 380%;
    font-weight: 700;
    font: 64px;
    
}

.consequat {
    font-size: 17px;
    opacity: 80%;
    font-weight: 400;
    margin: 20px 0 20px 0;
    line-height: 1.6;
    
}

.btn-verofertas {
    background-color: rgb(201 32 113);
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: #F5F5F5;
    font-size: 14px;
    font-family: "Inter" sans-serif;
}
.sapato{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 650px;
}

.colecoesEmDestaqueUm{
    background-color: rgb(249 248 254);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    width: 100%;
    height: 50%;

}
.textoColecoesUm{
    display: flex;
    justify-content: center;
    letter-spacing: .75px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 45px;
    font-family: "Inter", sans-serif;
}
.divPrincipalColecoes{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.divBlusaSupreme{
    background-color: rgb(216 227 242);
    border-radius: 8px;
    
}
.divSapatoAdidas{
    background-color: rgb(216 227 242);
    border-radius: 8px;
    padding: 24px;
    
}
.divFoneBeatsBass{
    background-color: rgb(216 227 242);
    border-radius: 8px;
    
    
}
.colecoesEmDestaqueDois{
    background-color: burlywood;
}